doctype html
html(xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    title Come, and eat
    link(rel="stylesheet" href="css/signupstyle.css" type="text/css" media="all")
    // Style-CSS
    link(rel="stylesheet" href="css/font-awesome.css")
    // Font-Awesome-Icons-CSS
    link(href="/css/bootstrap.min.css" rel="stylesheet" type="text/css")
    link(href="/css/jumbotron.css" rel="stylesheet" type="text/css")
  body
    main(role="main")
      // Main jumbotron for a primary marketing message or call to action
      .container
        h1.display-3 Searching result for #{search_theme}
        hr
        if form == 1
          table.table1
            tr
              th Name
              th Food
              th Accommodation
              th Phone_number
            for row in rows
              tr
                td #{row.name}
                td #{row.food}
                td #{row.accommodation}
                td #{row.phone}
            
        if form == 2
          table.table1
            tr
              th Food
              th Cuisine
              th Accommodation
              th Phone
            for row in rows
              tr
                td #{row.food}
                td #{row.cuisine}
                td #{row.accommodation}
                td #{row.phone}
        if form == 3
          h3 #{search_theme} has #{food_num[0].number} food plans.
          table.table1
            tr
              th Food
              th Flavour
            for row in rows
              tr
                td #{row.food}
                td #{row.flavour}
        hr
        a(href="/search.html") Go back to search
        br
        a(href="/") Go back to home page
        hr
      // /container
